# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/.gitignore
/.idea/hs26-swe2-exercises.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/docs/ch/juventus/collections/CollectionsExercise.html
/docs/ch/juventus/collections/CollectionsSolution.html
/docs/ch/juventus/collections/MapFilter.html
/docs/ch/juventus/collections/package-summary.html
/docs/ch/juventus/collections/package-tree.html
/docs/ch/juventus/javadoc/MathUtils.html
/docs/ch/juventus/javadoc/package-summary.html
/docs/ch/juventus/javadoc/package-tree.html
/docs/ch/juventus/object/Address.html
/docs/ch/juventus/object/Application.html
/docs/ch/juventus/object/DataKey.html
/docs/ch/juventus/object/HashingDemo.html
/docs/ch/juventus/object/package-summary.html
/docs/ch/juventus/object/package-tree.html
/docs/ch/juventus/object/Person.html
/docs/index-files/index-1.html
/docs/index-files/index-2.html
/docs/index-files/index-3.html
/docs/index-files/index-4.html
/docs/index-files/index-5.html
/docs/index-files/index-6.html
/docs/index-files/index-7.html
/docs/index-files/index-8.html
/docs/index-files/index-9.html
/docs/index-files/index-10.html
/docs/index-files/index-11.html
/docs/legal/ADDITIONAL_LICENSE_INFO
/docs/legal/ASSEMBLY_EXCEPTION
/docs/legal/dejavufonts.md
/docs/legal/jquery.md
/docs/legal/jqueryUI.md
/docs/legal/LICENSE
/docs/resource-files/fonts/dejavu.css
/docs/resource-files/fonts/DejaVuLGCSans.woff
/docs/resource-files/fonts/DejaVuLGCSans.woff2
/docs/resource-files/fonts/DejaVuLGCSans-Bold.woff
/docs/resource-files/fonts/DejaVuLGCSans-Bold.woff2
/docs/resource-files/fonts/DejaVuLGCSans-BoldOblique.woff
/docs/resource-files/fonts/DejaVuLGCSans-BoldOblique.woff2
/docs/resource-files/fonts/DejaVuLGCSans-Oblique.woff
/docs/resource-files/fonts/DejaVuLGCSans-Oblique.woff2
/docs/resource-files/fonts/DejaVuLGCSansMono.woff
/docs/resource-files/fonts/DejaVuLGCSansMono.woff2
/docs/resource-files/fonts/DejaVuLGCSansMono-Bold.woff
/docs/resource-files/fonts/DejaVuLGCSansMono-Bold.woff2
/docs/resource-files/fonts/DejaVuLGCSansMono-BoldOblique.woff
/docs/resource-files/fonts/DejaVuLGCSansMono-BoldOblique.woff2
/docs/resource-files/fonts/DejaVuLGCSansMono-Oblique.woff
/docs/resource-files/fonts/DejaVuLGCSansMono-Oblique.woff2
/docs/resource-files/fonts/DejaVuLGCSerif.woff
/docs/resource-files/fonts/DejaVuLGCSerif.woff2
/docs/resource-files/fonts/DejaVuLGCSerif-Bold.woff
/docs/resource-files/fonts/DejaVuLGCSerif-Bold.woff2
/docs/resource-files/fonts/DejaVuLGCSerif-BoldItalic.woff
/docs/resource-files/fonts/DejaVuLGCSerif-BoldItalic.woff2
/docs/resource-files/fonts/DejaVuLGCSerif-Italic.woff
/docs/resource-files/fonts/DejaVuLGCSerif-Italic.woff2
/docs/resource-files/copy.svg
/docs/resource-files/glass.svg
/docs/resource-files/jquery-ui.min.css
/docs/resource-files/left.svg
/docs/resource-files/link.svg
/docs/resource-files/right.svg
/docs/resource-files/stylesheet.css
/docs/resource-files/x.svg
/docs/script-files/jquery-3.7.1.min.js
/docs/script-files/jquery-ui.min.js
/docs/script-files/script.js
/docs/script-files/search.js
/docs/script-files/search-page.js
/docs/allclasses-index.html
/docs/allpackages-index.html
/docs/element-list
/docs/help-doc.html
/docs/index.html
/docs/member-search-index.js
/docs/module-search-index.js
/docs/overview-summary.html
/docs/overview-tree.html
/docs/package-search-index.js
/docs/search.html
/docs/tag-search-index.js
/docs/type-search-index.js
